*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    display: flex;
}

.sidebar {
  width: 250px;
  background-color: #1e293b;
  color: #fff;
  height: 100vh;
  transition: width 0.3s ease;
  overflow: hidden;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 0 10px 10px 0;
}

.sidebar.active {
  width: 60px;
}

.sidebar .link-text {
  display: inline;
  margin-left: 10px;
  transition: opacity 0.3s ease;
}

.sidebar.active .link-text {
  display: none;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 15px 20px;
  cursor: pointer;
}

.sidebar ul li i {
  min-width: 20px;
  text-align: center;
  padding: 10px;
}

.sidebar .logo {
    color: white;
    margin-bottom: 30px;
    font-size: 24px;
    border-bottom: 2px solid gray;
    display: block;
}

.sidebar.active .logo {
  display: none;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.sidebar ul li  a:hover {
    background-color: #334155;
    transform: translateX(5px);
}

#toggle-btn {
  background-color: #2c3e50;
  color: white;
  border: none;
  margin: 10px;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.toggle-btn:hover {
  background-color: #4338ca;
}


